@model MvcApplication.DAL.Interfaces.IArticle
@{
    ViewBag.Title = Model.Title;
    ViewBag.Description = Model.Description;
    ViewBag.Keywords = Model.Keywords;
}
<article class="box post post-excerpt">
    <header>
        <h1>@Html.ActionLink(Model.Title, "Display", "Article", new {seoUrl = Model.URI}, null)</h1>
    </header>
    <div class="info">
        @Html.Partial("DateControl", Model)
        @Html.Partial("SocialControl", Model)
    </div>
    @Html.Raw(Model.Body)
</article>
<div id="social">
    <div class="tweet">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://byalexblog.net/@Model.URI">Tweet</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
    </div>
    <div class="in-like">
        <script type="IN/Share" data-url="http://byalexblog.net/@Model.URI" data-counter="right"></script>
    </div>
    <div class="fb-like" data-href="http://byalexblog.net/@Model.URI" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
</div>

<div id="disqus_thread"></div>
<script type="text/javascript"> 
    var disqus_identifier = '@Model.URI';
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>