@{
    Layout = null;
}
@model MvcApplication.Models.PagingModel
<div class="pagination">
    @if (Model.CurrentPage > 1)
    {
        @Html.ActionLink("Previous Page", "List", "Article", new { page = Model.CurrentPage - 1 }, new { @class = "button previous" })
    }
    <div class="pages">
        @if (Model.CurrentPage > 3)
        {
            @Html.ActionLink("1", "List", "Article", new { page = 1 }, null)
            <span>&hellip;</span>
        }
        @for (var i = Math.Max(1, Model.CurrentPage - 2); i <= Math.Min(Model.TotalPages, Model.CurrentPage + 2); i++)
        {
            @Html.ActionLink(i.ToString(), "List", "Article", new { page = i }, new { @class = (i == Model.CurrentPage ? "active" : string.Empty) })
        }
        @if (Model.TotalPages - Model.CurrentPage > 3)
        {
            <span>&hellip;</span>
            @Html.ActionLink(Model.TotalPages.ToString(), "List", "Article", new { page = Model.TotalPages }, null)
        }
    </div>
    @if (Model.CurrentPage < Model.TotalPages)
    {
        @Html.ActionLink("Next Page", "List", "Article", new { page = Model.CurrentPage + 1 }, new { @class = "button next" })
    }
</div>