@using MvcApplication.Helpers
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content="@ViewBag.Description"/>
    <meta name="keywords" content="@ViewBag.Keywords"/>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700|Open+Sans+Condensed:300,700" rel="stylesheet"/>
    <!--[if lte IE 8]><script src="/css/ie/html5shiv.js"></script><![endif]-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/skel.min.js"></script>
    <script src="/js/skel-layers.min.js"></script>
    <script src="/js/init.js"></script>
    <script src="/js/google.analytics.js"></script>
    <script src="/syntaxhighlighter_3.0.83/scripts/shCore.js"></script>
    <script src="/syntaxhighlighter_3.0.83/scripts/shBrushCSharp.js"></script>
    <script src="/syntaxhighlighter_3.0.83/scripts/shBrushBash.js"></script>
    <script src="/syntaxhighlighter_3.0.83/scripts/shBrushXml.js"></script>
    <script src="/syntaxhighlighter_3.0.83/scripts/shBrushPowerShell.js"></script>
    <link type="text/css" rel="stylesheet" href="/syntaxhighlighter_3.0.83/styles/shCoreDefault.css" />
    <script type="text/javascript"> SyntaxHighlighter.all();</script>
    <noscript>
        <link rel="stylesheet" href="/css/skel.css"/>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="/css/style-desktop.css"/>
        <link rel="stylesheet" href="/css/style-wide.css"/>
    </noscript>
    <link rel="stylesheet" href="/css/my.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css"/><![endif]-->
</head>
<body class="left-sidebar">
<div id="wrapper">
    <div id="content">
        <div class="inner">
            @RenderBody()
        </div>
    </div>
    <div id="sidebar">
        <h1 id="logo">
            <a href="/">BY ALEX <span>code blog</span></a>
        </h1>
        <nav id="nav">
            <ul>
                <li @if (Html.IsControllerAndAction("Index", "Article"))
                    {
                        <text> class="current" </text>}>
                    @Html.ActionLink("Latest Post", "Index", "Article")
                </li>
                <li @if (Html.IsControllerAndAction("List", "Article"))
                    {
                        <text> class="current" </text>}>
                    @Html.ActionLink("Archives", "List", "Article")
                </li>
                <li @if (Html.IsControllerAndAction("AboutMe", "Home"))
                    {
                        <text> class="current" </text>}>
                    @Html.ActionLink("About Me", "AboutMe", "Home")
                </li>
            </ul>
        </nav>
        @Html.Action("RecentPosts", "Article")
        <section class="box text-style1"><!-- DO NOT REMOVE --></section>
        <ul id="copyright">
            <li>&copy; @DateTime.Now.Year Alexander Panfilenok</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</div>
    <script type="text/javascript" src="/js/disqus.js"></script>
</body>
</html>